
{% extends "base.html" %}
{% block title %} Visualizar {% endblock %}

{% block content %} 
    <section class="shadow rounded p-3 position-relative mb-4 bg-white overflow-hidden">
        <h2>Projeto</h2> 
        <form action="/adicionar" method="POST">
            <div class="form-group mb-3">
                <label for="atividade" class="form-label">Atividades</label>
                <input type="text" placeholder="Nova atividade" class="form-control" name="atividade" id="atividade"> 
            </div>
            <div class="d-flex">
                <button class="ms-auto btn btn-success">Inserir</button>
            </div>
        </form>
    </section>
{% endblock %}
