<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emerson Rodrigues</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class=" bg-color1">
    <main class="container pt-5 ">
        <section class="shadow d-flex flex-wrap rounded p-5 position-relative mb-4 bg-white d-flex">
            <h1 style="font-size: 16vw;">Portfolio</h1>
            <h2 class="ms-auto">Emerson Rodrigues Cabral</h2>
        </section> 
        <section class="shadow rounded p-3 position-relative mb-4 bg-white">
            <h2>Sobre mim</h2>
            <div class="mt-4">
                <p>Minha jornada começou de forma autônoma, como Desenvolvedor Front-end para amigos e pequenos projetos. Foi nesse início como freelancer que mergulhei no universo do front-end e me apaixonei por JavaScript — uma linguagem que me ensinou a criar experiências digitais de forma dinâmica e eficaz.</p>
                <p>Com o tempo, expandi meus conhecimentos para o back-end, utilizando PHP e outras tecnologias web, o que me deu uma visão completa do Desenvolvedor Full Stack. Hoje, com mais de 5 anos de experiência, busco unir técnica, criatividade e visão de produto para entregar resultados que realmente fazem a diferença.</p>
                <p>Atualmente, estou aprofundando meus estudos em Python, uma linguagem que me trouxe novos horizontes e se tornou minha nova paixão — especialmente pelo seu potencial em automações, análise de dados e inteligência artificial.</p>
                <p>Tenho me dedicado cada vez mais a evoluir tecnicamente e aprender com novos desafios e me tornar Desenvolvedor Python. Acredito no valor da colaboração e estou sempre aberto a trocar ideias e crescer junto com quem compartilha essa mesma paixão por tecnologia.</p>
            </div>
        </section>
        <section class="shadow rounded p-3 position-relative mb-4 bg-white">
            <h2>Linguagens</h2>
            <div class="d-flex mt-4">
                <span class="col d-flex justify-content-center">Python</span><span class="col d-flex justify-content-center">Flask</span><span class="col d-flex justify-content-center">PHP</span><span class="col d-flex justify-content-center">HTML</span><span class="col d-flex justify-content-center">CSS</span><span class="col d-flex justify-content-center">JavaScript</span>
            </div>
        </section>
        <section class="shadow rounded p-3 position-relative mb-4 bg-white">
            <h2>Projeto</h2>
            <div class="d-flex mt-4">
                <div class="col-1 d-flex justify-content-center">
                    <a href="https://www.linkedin.com/in/emerson-rodrigues-developer/" class="text-decoration-none" target="_blank">
                        <img src="static/agenda.png" alt="agenda" class="col-12">
                    </a>
                </div>
                <div class="col-11 ps-5"> 
                    
                    <div class="d-flex flex-wrap">
                        <div class="col-12 ps-2">
                            <p>Durante muito tempo, enfrentei um desafio recorrente: terminar uma tarefa e simplesmente não saber qual seria o próximo passo. Isso gerava atrasos, esquecimentos e aquela sensação de desorganização constante.</p>
                        </div>
                        <div class="collapse col-12 border-0 " id="sobre">
                            <div class="card card-body border-0 p-0 ps-2"> 
                                <p>Comecei a perceber que esse era um problema comum, especialmente para quem lida com múltiplas responsabilidades ou projetos simultâneos.</p>
                                <p>Para entender melhor o que estava acontecendo, fiz uma análise pessoal do meu fluxo de atividades. Foi nesse processo de investigação que descobri o método GTD (Getting Things Done).</p>
                                <p>A técnica me ajudou a estruturar melhor minhas tarefas e a organizar tudo em listas claras. Na prática, percebi que simples anotações diárias já eliminavam grande parte dos esquecimentos. A clareza que isso trouxe me surpreendeu.</p>
                                <p>Inspirado por essa transformação, decidi dar um passo além: criar minha própria agenda digital. A ideia surgiu como uma ferramenta pessoal, mas com o tempo ela ganhou forma e propósito. Hoje, esse projeto está evoluindo - de uma simples agenda para um possível sistema de controle de projetos.
                                <p>A organização pessoal pode parecer um detalhe, mas ela impacta diretamente nossa produtividade, foco e bem-estar. Com as ferramentas certas (ou criando as suas!), é possível transformar hábitos e abrir espaço para novas conquistas.
                                <p>Se você também já passou por isso ou tem interesse em ferramentas de produtividade, vamos conversar! </p>
                            </div>
                        </div>
                    </div>  
                    <div class="d-flex">
                        <button class="bg-transparent border-0 text-black ms-auto btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sobre" aria-expanded="false" aria-controls="collapseWidthExample">
                            ... Leia mais sobre
                        </button>  
                    </div>
                </div>
            </div>
        </section> 
        <section class="shadow rounded p-3 position-relative mb-4 bg-white">
            <h2>Redes Sociais</h2>
            <div class="d-flex mt-4">
                <div class="col-2 d-flex justify-content-center"><a href="https://www.linkedin.com/in/emerson-rodrigues-developer/" class="text-decoration-none" target="_blank">LinkedIn</a> </div>
                <div class="col-2 d-flex justify-content-center"><a href="https://github.com/developeraplicativos" class="text-decoration-none" target="_blank">GitHub</a> </div>
            </div>
        </section> 
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>