
{% extends "base.html" %}
{% block title %} Visualizar {% endblock %}

{% block content %}
    <div class="d-flex"> 
        <div class="ms-auto">{{data.strftime('%d-%m-%Y')}}</div>
    </div>
    <ul id="lista" class="list-group">
        {% for atividade in agenda %}
            {% include "_item_list.html" %}
        {% endfor %}
    </ul>
    {{agenda|length}} Atividades registradas
    <script> 
        document.querySelectorAll('.list-group-item').forEach(element => {
            element.addEventListener('click', function(){ 
                this.querySelector('img').classList.toggle('filter-oks')
            })
        });


        const lista = document.getElementById('lista');
        let itemArrastado = null; 
        var saveIN = null;
        
        // 1️⃣ Quando começa a arrastar
        lista.addEventListener('dragstart', (e) => {
            if (e.target.tagName === 'LI') {
                itemArrastado = e.target;
                e.target.classList.add('dragging');
            } 
            if (saveIN !== null) {
                clearTimeout(saveIN);
                saveIN = null;
            } 
        });

        // 2️⃣ Quando solta o item (arraste terminou)
        lista.addEventListener('dragend', (e) => {
            if (e.target.tagName === 'LI') {
                e.target.classList.remove('dragging');
            }
            // salva se não houver movimento em 2s
            saveIN = setTimeout(() => {
                console.log('🔒 Salvando... nenhuma atividade após 2s');
                saveIN = null; // limpa a referência
            }, 2000);
        }); 
        function saveAlter(){
            
        }
        // 3️⃣ Enquanto arrasta sobre a lista
        lista.addEventListener('dragover', (e) => {
            e.preventDefault(); // Permite o drop
            const itemAbaixo = pegarElementoAbaixo(lista, e.clientY);
            if (itemAbaixo == null) {
                lista.appendChild(itemArrastado); // Solta no final
            } else {
                lista.insertBefore(itemArrastado, itemAbaixo); // Solta antes do item detectado
            }
        });

        // 👇 Função para detectar o item abaixo do mouse
        function pegarElementoAbaixo(container, mouseY) {
        const itens = [...container.querySelectorAll('li:not(.dragging)')];

        return itens.reduce((maisProximo, item) => {
            const box = item.getBoundingClientRect();
            const offset = mouseY - box.top - box.height / 2;
            if (offset < 0 && offset > maisProximo.offset) {
            return { offset: offset, elemento: item };
            } else {
            return maisProximo;
            }
        }, { offset: Number.NEGATIVE_INFINITY }).elemento;
        }
    </script>
{% endblock %}
